In [24]:
import pandas as pd

In [27]:
data_dict = {'Even Numbers' : [2,4,6], 'Odd Numbers' : [1,3,5], 'Even and Odd Numbers' : [7,8,9]}

dat = pd.DataFrame(data_dict)
dat

   Even Numbers  Odd Numbers  Even and Odd Numbers
0             2            1                     7
1             4            3                     8
2             6            5                     9

In [28]:
dat.head()

   Even Numbers  Odd Numbers  Even and Odd Numbers
0             2            1                     7
1             4            3                     8
2             6            5                     9

In [29]:
dat.index

RangeIndex(start=0, stop=3, step=1)

In [30]:
dat[['Even Numbers']]

   Even Numbers
0             2
1             4
2             6

In [31]:
dat.iloc[0]

Even Numbers            2
Odd Numbers             1
Even and Odd Numbers    7
Name: 0, dtype: int64

In [32]:
data_list = {'Even Numbers' : [2,4,6], 'Odd Numbers' : [1,3,5], 'Even and Odd Numbers' : [7,8,9]}

[{'a':2, 'b':1, 'c':7}, {'a':4, 'b':3, 'c':8}, {'a':6, 'b':5, 'c':9}]

dat2 = pd.DataFrame(data_list)
dat2

   Even Numbers  Odd Numbers  Even and Odd Numbers
0             2            1                     7
1             4            3                     8
2             6            5                     9

In [58]:
dat = pd.DataFrame(data_dict)
dat.to_csv("pandas_Challenge.csv")

### 1. What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?
The loop "write/render/evaluate" provides creators of interactive data visualization to work with increased speed as well as larger data sets.

### 2. Why are dynamic, interactive data visualizations useful when communicating data?
Dynamic and interactive data are useful when communicating data as it can allow people to explore the data with what they are interested in seeing for themselves.

### 3. Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentances, explain why you do or do not agree.
I agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization. Murray states, "The more accessible your visualization, the greater your audience and your impact" as he believes that these tools are more impactful than proprietary software. These types of tools allow for more complex and larger data sets to be spread and viewable amongst different devices with different display requirements, leading to greater accessibility and visibility of the data. This is extremely important to consider as many users view data from a range of different devices.